.container{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.container p{
    font-size: 3rem;
    color: chartreuse;
}

.btn{
    width: 100px;
    display: inline;
    margin: 10px;
    background-color: aqua;
    border-radius: 5px;
    border :none;
    padding: 5px;
}

.btn:hover{
    color: white;
}

.btn1:hover{
    background-color: rgb(23, 237, 23);
}

.btn2:hover{
    background-color: rgb(247, 2, 2);
}

.btn3:hover{
    background-color: rgb(18, 1, 249);
}